.publication-entry
  display: flex
  justify-content: space-between
  max-width: 1200px
  margin: 5vh auto
  flex-wrap: wrap

  .publication-title
    width: 100vw
    margin-bottom: 5vh

  .publication-figure
    width: 30%
    height: 100%
    border-radius: 12px
    border: solid 1px rgb(55, 79, 93)
    overflow: hidden
    box-shadow: 3px 3px 10px rgba(0,0,0,.2)
    object-fit: cover
    //  min-width: 30vw

  .publication-meta
    width: 70%
    padding-left: 5rem
