.wiki__content
  display: flex
  width: 100vw


  .wiki__sidebar
    display: none
    

  .wiki__list
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 25vh 20px


.is__single-wiki
  width: 95%
  max-width: 800px
  margin: 25vh auto


.is__wiki-archive
    
    .wiki-entry
      width: 100%
      height: fit-content
      margin: 1rem 5%
      display: flex
      justify-content: space-between
      border: solid 1px var(--theme-color-alpha-060)
      border-radius: 6px
      align-items: baseline
      box-shadow: 2px 6px 6px var(--theme-color-alpha-020)

      & > *
        margin: 1rem 1rem

@media only screen and (min-width: 1024px)

  .wiki__content

    .wiki-list
      width: 75%

    .is__single-wiki > *
      padding-left: 20px

    .wiki__sidebar
      display: block
      position: sticky
      top: 0
      width: 25%
      height: 100vh
      padding: 25vh 10px
      background-color: var(--theme-color-alpha-010)
      border-right: solid 1px var(--theme-color-alpha-080)

      .wiki-subject-list
        display: none
        height: 0
        overflow: hidden
      
      .wiki__sidebar-header
        display: flex
        justify-content: stretch
        margin: 3px 0

      .wiki__sidebar-link

        margin: 0
        width: 100%
        padding: 3px 15px
        border-radius: 2px


        &:hover,
        &:focus,
        &:active
          //background-color: var(--theme-color-alpha-010)

  .is__wiki-archive
    
    .wiki-entry
      margin: 1rem 20%
      @include default-link-trans

      &:hover
        box-shadow: 1px 3px 4px var(--theme-color-alpha-020)
        border: solid 1px var(--theme-color-alpha-090)
