@import '_variables'


body,
button,
input,
select,
optgroup,
textarea
	color: $color__text-main
	font-family: $font__main
	font-size: 1rem
	line-height: $font__line-height-body

// Global typography styles

html
	font-size: 62.5%

body
	font-family: $fallback-font-family
	font-family: $primary-font-family
	font-size: $font-size
	font-weight: $medium-font


@import "headings"
@import "copy"
