body
	background: $color__background-body
	// Fallback for when there is no custom background color defined.

.site-main
	overflow: hidden

//.is__default-page


.is__default-content-page > .entry-content
	width: 60vw
	max-width: 1000px
	margin: 15vh auto


.grecaptcha-badge
	visibility: hidden

// Move navbar down if admin bar is visible
.admin-bar .site-header
	top: 32px